* {
  font-family: "Poppins", sans-serif;
}
:root {
  --teal-accent-color: #008080;
  --bg-paper-color: #efefef;
  --medium-light-gray: #888888;
  --medium-gray: #666666;
  --text-line-height: 1.2rem;
}

body {
  background-color: var(--bg-paper-color);
}

a:link {
  color: inherit;
}
a:hover {
  text-decoration: underline;
}
.card {
  margin-bottom: 1rem;
  width: 100%;
}
.card-title {
  font-weight: 400;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}
.card-text {
  font-weight: 200;
}
/* HIGHLIGHTS SECTION */
header {
  /* height: 400px; */
  /* width: 100vw; */
  background: black;
  /* overflow: hidden; */
}

img {
  /* object-fit: cover; */
  opacity: 0.7;
}

.highlights-title {
  color: var(--medium-gray);
  /* margin-bottom: 1rem; */
}
.highlights-icons {
  margin-right: 0.5rem;
  color: var(--teal-accent-color);
}
.highlights a {
  color: inherit;
  text-decoration: underline;
}
.skills {
  list-style: none;
}
.skill {
  margin-bottom: 0.8rem;
}
/* DETAIL SECTIONS*/

.section-icon {
  font-size: 1.5rem;
  margin-right: 0.5rem;
  color: var(--teal-accent-color);
}
.detail-card-title {
  color: var(--medium-light-gray);
}
/* .job {
  margin-bottom: 1rem;
} */
.job-title {
  color: var(--medium-gray);
  /* margin-bottom: 1rem; */
}
.duration {
  color: var(--teal-accent-color);
  font-size: 0.8rem;
}
.duration-calendar-margin-right {
  margin-right: 0.5rem;
}
.accomplishment {
  line-height: var(--text-line-height);
  margin-bottom: 0.7rem;
}

.certifications {
  list-style: none;
}
.cert-calendar-icon {
  /* color: var(--teal-accent-color); */
  font-size: 0.8rem;
}
.certification a {
  color: inherit;
  text-decoration: underline;
}
.project-title {
  color: var(--medium-gray);
  /* margin-bottom: 1rem; */
}
.accomplishment a {
  color: inherit;
  text-decoration: underline;
}

.visitors {
  color: var(--medium-gray);
}
